Is implementing Resource Owner Password Credentials grant type?

Is this implementing the section 4.3 of RFC 6749 also known as Resource Owner Password Credentials Grant?
[RFC 6749 Section 4.3](https://www.rfc-editor.org/rfc/rfc6749#section-4.3)

After a couple of days reading and testing some samples, I finally able to answer my question above. The answer is yes.
I'm using SQL Server so it took me a little while.